

.headerStyles {
  color: #fff;
  padding: 20px 20px;
  font-family: 'Noto Serif KR', sans-serif;
  text-align: center;
  font-size: 32px;
  display: block;
}

.bodyStyles {
 background-color: #F5F5F5;
 height: 100vh;
 overflow: hidden;
}

.formStyles {
  margin-top: 15%;
}

.navBar {
  top: 0px;
  box-shadow: 0px 1px 15px #5E5E5E;
  color: #fff;
  padding: 20px 20px;
  font-family: 'Noto Serif KR', sans-serif;
  text-align: center;
  font-size: 32px;
  list-style: none;
  height: 100%;
}

.paddingColRight {
 padding-right: 0px;
}

.paddingColLeft {
  padding-left: 0px;
}

.menuStyles {
  height:88vh;
}

.postion {
  height: 100vh;
  
}