

.headerStyles {
  color: #fff;
  padding: 20px 20px;
  font-family: 'Noto Serif KR', sans-serif;
  text-align: center;
  font-size: 32px;
  display: block;
}

.bodyStyles {
 background-color: #F5F5F5;
 height: 100vh;
}

.formStyles {
  margin-top: 15%;
}